<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My first site creator</title>

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">

    <!-- core libraries -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- bootstrap -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- jquery ui -->
    <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <script src="/bower_components/jquery-ui-rotatable/jquery.ui.rotatable.min.js"></script>
    <link rel="stylesheet" href="/bower_components/jquery-ui-rotatable/jquery.ui.rotatable.css">

    <!-- rotate -->
    <script src="/bower_components/jquery.transit/jquery.transit.js"></script>

    <!-- plugins -->
    <script src="/bower_components/jQuery-contextMenu/src/jquery.ui.position.js" type="text/javascript"></script>
    <script src="/bower_components/jQuery-contextMenu/src/jquery.contextMenu.js" type="text/javascript"></script>
    <link href="/bower_components/jQuery-contextMenu/src/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
    <script src="/bower_components/jquery-colorbox/jquery.colorbox-min.js" type="text/javascript"></script>
    <link href="/bower_components/jquery-colorbox/example1/colorbox.css" rel="stylesheet" type="text/css" />
    <script src="/js/jscolor/jscolor.js" type="text/javascript"></script>

    <!-- filepicker -->
    <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>

    <!-- main flux library -->
    <script src="/js/flux/flux.js"></script>

    <!-- some stylesheets -->
    <style>
      /*
      body {
      font-family: 'Tangerine', serif;
      font-size: 48px;
      }
      */
      #canvas { text-align: left; border: 0px solid #efefef; position: relative; }
      .item { position: absolute; width: 100px; height: 100px; }
      .item.image img { width: 100%; height: 100%; }
      .editable:hover { border: 1px solid pink; }
      .item.background { z-index: -1; width: 100%; height: 100%; }
      #menubar { position: fixed; bottom: 10px; left: 0; right: 0; text-align: center; width: 100%; border: 0px solid red; height: 100px; }

      .clear.break { margin-top: 20px; clear: both; }

      .tool { display: none; }
      #edit_mode { position: fixed; bottom: 10px; right: 20px; }
      #tools { display: none; }
    </style>

    <!-- polymer testing -->
    <!--<link rel="import" href="elements/flux-text.html">-->

  </head>
  <body>

    <!-- main draw canvas -->
    <div id="canvas"></div>

    <!-- menu toolbars -->
    <div id="menubar">

      <!-- tools -->
      <button id="edit_mode" class="trig_edit_mode btn btn-warning">Edit Mode</button>

      <div id="tools">
        <a href="#" class="trig_stick btn btn-default" data-type="image">Add image</a>
        <a href="#" class="trig_tool btn btn-default" data-type="text">Add text</a>
        <a href="#" class="trig_stick btn btn-default" data-type="video">Add video</a>
        <a href="#" class="trig_stick btn btn-default" data-type="background">Add background</a>
        <a href="#" class="trig_save_page btn btn-info">Save page</a>
      </div>

      <!-- tools type attributes -->
      <div class="clear break"></div>

      <div id="toolbar">

        <!-- choose text style -->
        <div id="tools-text" class="tool">
          text:
          <input type="text" id="tools-text-content" placeholder="say something">

          font:
          <select id="tools-text-font">
            <option value="arial">arial</option>
            <option value="verdana">verdana</option>
            <option value="tahoma">tahoma</option>
            <option value="tangerine">tangerine</option>
          </select>

          size:
          <input type="text" id="tools-text-size" value="24">

          color:
          <input id="tools-text-color" class="color" value="000000">

          <a href="#" class="trig_stick btn btn-default" data-type="text">Stick</a>
        </div>


      </div> <!-- end #toolbar -->

    </div> <!-- end #menubar-->

  </body>
</html>
